{% extends "base.html" %} {% block main %}
<h1>Contact Form</h1>

<hr />
<p class="lead">Fill this form to contact the site owners</p>

{% if form.name.errors %}
<ul class="errors">
  {% for error in form.name.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<form method="POST" action="/contact/">
  <div class="row">
    <div class="col-md-5 col-sm-12">
      {{ form.csrf_token }}

      <div class="my-5">
        <div class="d-block my-4">
          <b>{{form.name.label}}</b>
        </div>
        <div class="text-muted">{{form.name.description}}</div>
        {{form.name(class_="form-control my-2")}}
      </div>

      <div class="my-5">
        <div class="d-block my-4">
          <b>{{form.email.label}}</b>
        </div>
        <div class="text-muted">{{form.email.description}}</div>
        {{form.email(class_="form-control my-2")}}
      </div>

      <div class="my-5">
        <div class="d-block my-4">
          <b>{{form.subject.label}}</b>
        </div>

        <div class="text-muted">{{form.subject.description}}</div>
        {{form.subject(class_="form-control my-2")}}
      </div>

      <div class="my-5">
        <div class="d-block my-4">
          <b>{{form.message.label}}</b>
        </div>
        <div class="text-muted">{{form.message.description}}</div>
        {{form.message(class_="form-control my-2")}}
      </div>
    </div>
  </div>

  <div class="my-5">
    <button type="submit" class="btn btn-success px-4">Send</button>
  </div>
</form>

{% endblock %}
